.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--dark1);
  box-shadow: 0 1px .7rem rgba(0, 0, 0, .3);
  max-width: 100vw;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo > h1 {
  font-size: 1.2rem;
}

.linkItems {
  display: flex;
  gap: 1rem;
}

.linkItems a {
  padding: .5rem;
  transition: .3s ease;
  border-bottom: 2px solid transparent;
}

.linkItems a:hover {
  border-color: #fff;
}
